.vaultRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(108,108,123, 0.2);
  flex: 1;
  padding: 0px 24px;
}
.balanceUSD {
  color: #4aa166;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 700 !important;
  letter-spacing: -1px;
  font-size: 130% !important;
}
.vaultTitleCell {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 18px 6px;
}

.vaultValueCell {
  flex: 1;
  padding: 12px 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: red;
}

.vaultActionsCell {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding: 12px 6px;
}

.vaultBalanceCell {
  flex: 1;
  padding: 12px 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.vaultAvailableBalanceCell {
  flex: 1;
  padding: 12px 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 40px;
  height: 20px;
  margin-right: 12px;
}

.fontWeightBold {
  font-weight: bold !important;
}

.balance {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.removePaper {
  background-color: rgba(0,0,0,0) !important;
}

.assetActions {
  width: 100%;
  border-top: 1px solid rgba(108,108,123, 0.2);
  border-bottom: 1px solid rgba(108,108,123, 0.2);
}

.assetInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 36px;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(108,108,123, 0.2);
  background: radial-gradient(circle, rgba(63,94,251,0.7) 0%, rgba(47,128,237,0.7) 48%) rgba(63,94,251,0.7) 100%;
}

.infoField {
  flex: 1;
}

.flexy {
  padding: 6px 0px;
}

.actionsContainer {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.tradeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
  max-width: 500px;
}

.balances {
  width: 100%;
  text-align: right;
  cursor: pointer;
  padding-right: 12px;
  padding-bottom: 6px;
}

.actionInput {
  padding: 0px 0px 12px 0px;
  font-size: 0.5rem;
}

.scaleContainer {
  margin: 24px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.scale {
  width: 60px;
  height: 60px;
  border-radius: 30px !important;
}

.buttons {
  display: flex;
  width: 100%;
}

.separator {
  border-bottom: none;
  width: 0px;
  margin: 0px;
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputTitle {
  padding-bottom: 6px;
  margin-left: 12px;
}

.gasSpeedContainer {
  width: 100%;
  margin-bottom: 24px;
}

.assetInfoError {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 36px;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(108,108,123, 0.2);
  background: #dc3545;
}

.vaultVersionCell {
  flex: 1;
  padding: 12px 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vaultVersionContainer {
  border-radius: 24px;
  padding: 5px 16px;
  background: rgba(25, 101, 233, 1);
  height: fit-content;
  width: fit-content;
}

.vaultV1VersionContainer {
  border-radius: 24px;
  padding: 5px 16px;
  background: #BD1550;
  height: fit-content;
  width: fit-content;
  color: #FFF !important;
}

.vaultV2VersionContainer {
  border-radius: 24px;
  padding: 5px 16px;
  background: #0048FF;
  height: fit-content;
  width: fit-content;
  color: #FFF !important;
}

.vaultExpVersionContainer {
  border-radius: 24px;
  padding: 5px 16px;
  background: #703D6F !important;
  height: fit-content;
  width: fit-content;
  color: #FFF !important;
}

.vaultEarnVersionContainer {
  border-radius: 24px;
  padding: 5px 16px;
  background: #77CCA4 !important;
  color: #000 !important;
  height: fit-content;
  width: fit-content;
  color: #FFF !important;
}

.vaultVersionText {
  font-size: 0.9rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 700 !important;
}

.vaultVersionText {
  font-size: 0.9rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 700 !important;
}


.vaultLockupVersionContainer {
  border-radius: 24px;
  padding: 5px 16px;
  background: #FFD000;
  color: #000 !important;
  height: fit-content;
  width: fit-content;
}


@media screen and (max-width: 1000px) {
  .vaultRow {
    padding: 0px 6px;
  }
  .name {

  }
  .actionsContainer {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .tradeContainer {
    padding: 12px;
    width: 100%;
  }
  .separator {
    border-bottom: 1px solid rgba(124, 124, 124, 0.32);
    margin: 12px;
    width: 100%;
  }
  .emptyScale {
    height: 12px
  }
  .assetInfo {
    padding: 12px;
  }
  .assetInfoError {
    padding: 12px;
  }
  .vaultVersionCell {
    display: none;
  }
  .vaultAvailableBalanceCell {
    display: none;
  }
}
