.vaultActionContainer {
  flex: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 48px;
  max-width: 420px;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputTitle {
  padding-bottom: 6px;
  margin-left: 12px;
}

.balances {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 6px;
}

.value {
  cursor: pointer;
}

.betweenSpacer {
  padding: 24px;
}

.sliderContainer {
  padding: 12px;
}

.sliderItem {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1600px) {
  .vaultActionContainer{
    padding: 24px;
  }
}
