.vaultActionContainer {
  flex: 1;
  border-radius: 10px;
  border: 1px solid rgba(108, 108, 123, 0.2);
  display: flex;
  flex-direction: column;
  margin: 24px;
  max-width: 300px;
  background: #fff;
}

.vaultActionContainerDark {
  flex: 1;
  border-radius: 10px;
  border: 1px solid rgba(108, 108, 123, 0.2);
  display: flex;
  flex-direction: column;
  margin: 24px;
  max-width: 300px;
}

.cdpInformationContainer {
  display: flex;
  flex-direction: column;
  padding: 18px 24px;
}

.cdpTitleContainer {
  display: flex;
  padding: 18px 24px;
  align-items: center;
}

.cdpIcon {
  margin-right: 12px;
}

.infoIcon {
  font-size: 13px !important;
}

.valueLineHeight {
  line-height: 1.5 !important;
}

.statusLiquid {
  color: #dc3545;
}

.statusWarning {
  color: #FF9029;
}

.statusSafe {
  color: green;
}
