.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.section {
  margin-right: 30px;
  margin-left: 30px;
}

.section.cc-cta {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.section.cc-store-home-wrap {
  position: relative;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 200;
}

.paragraph-bigger.cc-bigger-white-light {
  opacity: 0.6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.button {
  margin-left: 10px;
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-app {
  position: relative;
  z-index: 5;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 transparent;
  -webkit-transition: box-shadow 300ms ease-out, background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: box-shadow 300ms ease-out, background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #000;
}

.button.cc-app:hover {
  box-shadow: 0 14px 13px 0 rgba(0, 0, 0, 0.3);
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.button.round-blue {
  border-radius: 40px;
  background-color: #384dfa;
}

.button.rounded {
  border-radius: 40px;
  background-color: #fff;
  color: #000;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-blog-date {
  margin-top: 20px;
  opacity: 0.6;
}

.rich-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.rich-text p {
  margin-top: 15px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  text-transform: none;
}

.heading-jumbo-small {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.menu {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(55, 77, 250, 0);
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.navigation-item:hover {
  background-color: transparent;
  opacity: 1;
  color: #fff;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #fff;
  font-style: normal;
  font-weight: 300;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.logo-image {
  display: block;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.cta-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.cta-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  padding-bottom: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.intro-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 95.7%, 0);
  color: #fff;
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}

.intro-content.cc-homepage {
  position: relative;
  z-index: 6;
  margin-bottom: 20px;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.18);
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.07);
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-width: 2px;
  border-color: #e3e6eb;
}

.text-field:active {
  border-width: 2px;
  border-color: #384dfa;
}

.text-field:focus {
  border-width: 2px;
  border-color: #162dc7;
}

.text-field::-webkit-input-placeholder {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
}

.text-field:-ms-input-placeholder {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
}

.text-field::-ms-input-placeholder {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
}

.text-field::placeholder {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
}

.blog-detail-header-wrap {
  width: 70%;
  margin: 60px auto;
}

.detail-header-image {
  display: block;
  width: 100%;
  height: 620px;
  margin-bottom: 60px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.detail-header-image.w--current {
  margin-bottom: 60px;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(26, 27, 31, 0);
}

._404-content-wrap {
  margin-bottom: 20px;
}

.intro-text {
  width: 100%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #162dc7;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 54%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: none;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}

.heading {
  position: relative;
  margin-bottom: 0px;
  clear: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #384dfa;
  font-weight: 200;
  text-align: center;
}

.heading.jumbo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 100px;
  line-height: 110px;
  font-weight: 700;
}

.heading.indicator-up {
  color: #17c047;
  font-size: 60px;
  line-height: 103px;
}

.div-block {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(255, 255, 255, 0.36);
  font-size: 14px;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}

.tabs {
  position: relative;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tab-link-day {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(56, 77, 250, 0);
  border-radius: 50px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.tab-link-day:hover {
  color: #fff;
}

.tab-link-day:focus {
  border-color: #384dfa;
  color: #fff;
}

.tab-link-day.w--current {
  border-width: 2px;
  border-color: #384dfa;
  border-radius: 40px;
  background-color: transparent;
  color: #fff;
}

.tab-link-day.w--current:hover {
  color: #fff;
}

.background-video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-video.lower {
  z-index: -1;
}

.overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 45, 199, 0.36);
}

.grid-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: minmax(80px, 1fr) repeat(auto-fit, minmax(1120px, 1fr)) minmax(80px, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.total-value-locked {
  position: relative;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 95vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0f1021;
  color: #1a1b1f;
}

.disclaimer-style {
  margin-top: 30px;
  font-family: Inter, sans-serif;
  color: rgba(255, 255, 255, 0.37);
  font-size: 14px;
  text-align: center;
}

.currencydatagrid {
  -ms-grid-columns: 1fr minmax(60px, auto);
  grid-template-columns: 1fr minmax(60px, auto);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-resources {
  display: block;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f2f5;
}

.grid-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: minmax(80px, auto) auto minmax(80px, auto);
  grid-template-columns: minmax(80px, auto) auto minmax(80px, auto);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.resources-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.resource-card {
  display: -ms-grid;
  display: grid;
  min-height: 300px;
  padding: 30px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 14px 0 transparent;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  text-align: center;
  text-decoration: none;
}

.resource-card:hover {
  border-style: none;
  border-width: 0px;
  border-color: #162dc7;
  background-color: #162dc7;
  box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.08);
  color: #fff;
}

.resource-title {
  margin-top: 30px;
  margin-bottom: 4px;
}

.resource-subtitle {
  font-family: Inter, sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.grid-3 {
  margin-top: auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-3 {
  margin-bottom: 60px;
  color: #798289;
  font-weight: 300;
  text-align: center;
}

.body {
  background-color: #162dc7;
}

.body-2 {
  background-color: #162dc7;
}

@media screen and (min-width: 1440px) {
  .grid-2 {
    grid-template-columns: minmax(80px, 1fr) repeat(auto-fit, minmax(1230px, 1fr)) minmax(80px, 1fr);
  }

  .resources-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 991px) {
  .section.cc-cta {
    padding-right: 0px;
    padding-left: 0px;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button.cc-app {
    display: block;
  }

  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .menu {
    position: static;
    margin-left: 30px;
  }

  .navigation-wrap {
    background-color: hsla(0, 0%, 100%, 0);
  }

  .navigation {
    padding: 25px 30px;
  }

  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    color: #fff;
    text-align: center;
  }

  .navigation-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #000;
    font-weight: 500;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .menu-button {
    margin-right: 20px;
    padding: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .navigation-items {
    background-color: #131929;
    color: #fff;
  }

  .cta-text {
    width: auto;
  }

  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }

  .blog-detail-header-wrap {
    width: 70%;
  }

  .detail-header-image {
    height: 460px;
  }

  .intro-text {
    width: auto;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-flex-container {
    margin-right: 20px;
    margin-left: 20px;
  }

  .heading.jumbo {
    font-size: 75px;
  }

  .grid-2 {
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-wrapper {
    grid-template-columns: minmax(80px, auto) repeat(auto-fit, minmax(608px, 1fr)) minmax(80px, auto);
  }

  .resources-grid {
    padding-right: 0px;
    padding-left: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-right: 15px;
    margin-left: 15px;
  }

  .section.cc-cta {
    padding: 15px;
  }

  .section.cc-store-home-wrap {
    margin-right: 0px;
    margin-left: 0px;
  }

  .container {
    text-align: center;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .button.cc-app {
    display: none;
  }

  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .heading-jumbo {
    font-size: 46px;
    line-height: 62px;
  }

  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .logo-link {
    padding-left: 0px;
  }

  .navigation {
    padding: 20px 30px;
  }

  .navigation-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .menu-button {
    margin-right: 0px;
  }

  .navigation-items {
    background-color: #131929;
  }

  .cta-wrap {
    padding-right: 30px;
    padding-left: 30px;
  }

  .intro-content {
    width: 80%;
  }

  .blog-detail-header-wrap {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-flex-container {
    margin-right: 20px;
    margin-left: 20px;
  }

  .footer-logo-link {
    display: none;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .heading {
    font-size: 35px;
  }

  .heading.jumbo {
    margin-top: 0px;
    font-size: 57px;
  }

  .heading.indicator-up {
    font-size: 40px;
    line-height: 70px;
  }

  .tab-link-day {
    padding-right: 20px;
    padding-left: 20px;
  }

  .overlay {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .disclaimer-style {
    margin-top: 15px;
  }

  .section-resources {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .grid-wrapper {
    grid-template-columns: minmax(40px, auto) repeat(auto-fit, minmax(400px, 1fr)) minmax(40px, auto);
  }

  .resources-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-3 {
    margin-bottom: 50px;
    font-size: 26px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 52px;
  }

  .paragraph-bigger.cc-bigger-white-light {
    font-size: 15px;
  }

  .button.cc-app {
    display: none;
  }

  .button.round-blue {
    margin-top: 20px;
  }

  .rich-text {
    width: 100%;
    max-width: none;
  }

  .heading-jumbo {
    font-size: 27px;
    line-height: 38px;
  }

  .menu {
    margin-left: 15px;
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .navigation-item {
    opacity: 1;
  }

  .navigation-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .navigation-items {
    background-color: #131929;
  }

  .cta-wrap {
    padding-right: 15px;
    padding-left: 15px;
  }

  .blog-detail-header-wrap {
    width: 100%;
    max-width: none;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-image {
    width: 30%;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .heading {
    font-size: 23px;
  }

  .heading.jumbo {
    font-size: 30px;
    line-height: 70px;
  }

  .heading.indicator-up {
    left: 0px;
    font-size: 20px;
    line-height: 30px;
  }

  .tab-link-day {
    padding: 3px 10px;
    font-size: 11px;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .disclaimer-style {
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 13px;
    line-height: 21px;
  }

  .currencydatagrid {
    margin-right: 20px;
    margin-left: 20px;
  }

  .grid-wrapper {
    grid-template-columns: minmax(20px, auto) repeat(auto-fit, minmax(270px, 1fr)) minmax(20px, auto);
  }

  .heading-3 {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 40px;
  }
}

#w-node-c134c3ad-5675-436a-d9e7-eb92b25cd166-8b22666b {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_0b0e3f20-aed6-1f3e-c138-fe537928da46-8b22666b {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_8c352d8f-4798-cd1b-e2be-7e179877318e-8b22666b {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_18638a64-158e-82a5-ef35-2151b27a4e26-b27a4e25 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-_18638a64-158e-82a5-ef35-2151b27a4e26-b27a4e25 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_46935bc9-0220-5ce3-3a9e-71589d3bc51a-8b22666b {
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-f7911679-36ee-dfee-8fef-6ecc33cb620b-8b22666b {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_3ba17473-150a-885c-a2a3-ec0f4c9f55cf-8b22666b {
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-_3ba17473-150a-885c-a2a3-ec0f4c9f55d1-8b22666b {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

