.historyContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.inline {
  display: flex;
  align-items: center;
}

.textSpaced {
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .historyContainer{

  }
}


@media screen and (max-width: 1200px) {
  .historyContainer{

  }
}
