.gasSpeedContainer {
  display: flex;
  flex-direction: column;
}

.toggleButtonText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.gasSpeed {
  width: 100%;
}

.smallText {
  font-size: 0.7rem !important;
  font-weight: bold !important;
  padding-top: 6px;
}

.title {
  padding-left: 0px;
  padding-bottom: 12px;
}

.xxx .Mui-selected {
  background: blue !important;
}
