.strategyContainer {
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
}

.lineDivider {
  width: 100%;
  height: 1px;
  background: rgba(104,108,122,0.3);
}

.accHeading {
  margin-left: -24px !important;
}

.strategyName {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.stratDescBox {
  width: 100% !important;
  display: block !important;
}

.stratDesc {
  color: #717684;
  width: 100%;
  font-size: 14px !important;
  line-height: 1.4em !important;
  margin-bottom: 20px !important;
}

.viewEtherscan {
  width: 60px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 30px !important;
  padding: 0 !important;
  height: 50px;
  background: none;
  border: 1px solid rgba(104,108,122,0.1);
  cursor: pointer;
  text-align: center;
  border-radius: 60px;
  color: rgba(104,108,122,1) !important;
  background-image: url('../../public/images/etherscan-logo-circle.svg');
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}

.viewEtherscan:hover {
  border: 1px solid #374DFA;
}

.strategyNameText {
  min-width: 100px;
  margin-bottom: 12px !important;
}

.strategyStats {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.strategyStat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 28px;
  padding-left: 24px;
}

.strategyPercent {
  flex: 1;
}

.strategyDescription {
  max-height: 70px;
  overflow-y: hidden;
  opacity: 0.5;
  line-height: 1.4em !important;
  font-size: 13px !important;
}

@media screen and (max-width: 576px) {
  .strategyContainer {
    width: calc(100vw - 24px);
    padding-bottom: 12px;
    margin-right: 0px;
    align-items: flex-start;
  }

  .strategyName {
    align-items: flex-start;
  }

  .accHeading {
    margin-left: -5px !important;
  }
}
