.strategyContainer {
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
}

.strategyName {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.strategyNameText {
  min-width: 100px;
  margin-bottom: 12px !important;
}

.strategyStats {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.strategyStat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 28px;
  padding-left: 24px;
}

.strategyPercent {
  flex: 1;
}

.strategyDescription {
  max-height: 70px;
  overflow-y: hidden;
  opacity: 0.5;
  line-height: 1.4em !important;
  font-size: 13px !important;
}

@media screen and (max-width: 576px) {
  .strategyContainer {
    width: calc(100vw - 24px);
    padding-bottom: 12px;
    margin-right: 0px;
    align-items: flex-start;
  }

  .strategyName {
    align-items: flex-start;
  }
}
