.investTable {
  width: 100%;
  cursor: pointer;
}

.investContainer {
  height: 100%;
  padding: 0px 30px 0px 20px;
  display: flex;
  flex-direction: column;
}
.overviewTopPerformersContainer {
  margin: 30px 0;
}
.growthanimclass {
  transform: scale(0.65);
  margin-top: 3px;
  margin-left: 1px;
  opacity: 0.6;
}

.rocketanimclass {
  transform: scale(0.7);
  margin-top: 6px;
  margin-left: 0px;
  opacity: 0.6;
}

.overviewTopPerformersContainer {
  margin: 30px 0;
}

.growthanimclass {
  transform: scale(0.65);
  margin-top: 3px;
  margin-left: 1px;
  opacity: 0.6;
}

.rocketanimclass {
  transform: scale(0.7);
  margin-top: 6px;
  margin-left: 0px;
  opacity: 0.6;
}

.portfolioStatsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.portfolioBalanceContainer {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.portfolioBalanceCombined {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 48px 0px;
  margin: 0 auto;
}

.portfolioOutline {
  border: 1px solid rgba(108,108,123,0.2);
  border-radius: 30px;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.portfolioIcon {
  font-size: 1.5rem !important;
}

.portfolioGrowthContainer {
  display: flex;
  align-items: center;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid rgba(108,108,123, 0.25);
  border-radius: 10px;
  width: 100%;
}

.growthOutline {
  border: 1px solid #212529;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 34px;
}

.growthIcon {
  font-size: 2rem !important;
}

.vaultsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0px;
  padding-bottom: 50px;
}

.searchContainer {
  flex: 1;
  min-width: 300px !important;
  margin-left: 30px !important;
  margin-right: 40px !important;
}

.vaultSectionTitle {
  width: 100%;
  padding: 12px 24px;
}

.vaultTypeButtons {
  width: 680px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.vaultTypeButton {
  border: 0px !important;
  padding: 5px 12px !important;
  border-radius: 10px !important;
  margin-right: 18px !important;
  line-height: 1.167 !important;
  text-transform: none !important;
}

.v1,
.v2,
.exp,
.earn,
.active,
.lockup {
  border: 1px solid rgba(108,108,123, 0.3) !important;
  color: rgba(108,108,123, 0.8) !important;
  padding: 12px 12px !important;
}

.filtericon {
  color: #1c47f5;
  margin-right: 8px;
}

.stableCoins,
.ethbtc,
.others {
  border: 2px solid rgba(108, 108, 123, 0.15) !important;
}

.stableCoinsSelected,
.ethBTCSelected,
.othersSelected {
  background: #1c47f5 !important;
  color: #fff !important;
  border: 1px solid #1c47f5 !important;
}

.stableCoinsSelected .filtericon,
.ethBTCSelected .filtericon,
.othersSelected .filtericon {
  color: #FFF !important;
}

.stableCoinsSelected .filtericon,
.ethBTCSelected .filtericon,
.othersSelected .filtericon {
  color: #FFF !important;
}
.v1Selected {
  background: #BD1550 !important;
  color: #fff !important;
  padding: 12px 12px !important;
  border: 1px solid rgba(108,108,123, 0) !important;
}

.v2Selected {
  background: #0048FF !important;
  color: #fff !important;
  padding: 12px 12px !important;
  border: 1px solid rgba(108,108,123, 0) !important;
}

.expSelected {
  background: #703D6F !important;
  color: #fff !important;
  padding: 12px 12px !important;
  border: 1px solid rgba(108,108,123, 0) !important;
}

.earnSelected {
  background: #77CCA4 !important;
  color: #000 !important;
  padding: 12px 12px !important;
  border: 1px solid rgba(108,108,123, 0) !important;
}

.activeSelected {
  background: none !important;
  padding: 12px 12px !important;
  border: 1px solid #374dfa !important;
}

.lockupSelected {
  background: #FFD000 !important;
  color: #22252e !important;
  padding: 12px 12px !important;
  border: 1px solid rgba(108,108,123, 0) !important;
}

.vaultFilters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0px 0px 0px;
  background: #111729;
  position: sticky;
  top: 60px;
  padding: 10px 0;
  z-index: 9;
  border-radius: 0 !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(108,108,123, 0.2)
}

.vaultFiltersInside {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 48px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.type {
  border: 1px solid rgba(125, 125, 125, 1) !important;
  color: rgba(125, 125, 125, 1) !important;
}

.typeSelected {
  background: rgba(125, 125, 125, 1) !important;
  color: #fff !important;
}

.layoutToggleButton {
  padding: 8px !important;
  margin: 5px !important;
  border-radius: 0 !important;
}

.layoutToggleButtons {
  width: auto;
  border: 1px solid rgba(108,108,123, 0.2);
  border-radius: 50px !important;
}

.layoutToggleButton:hover, {
  background: none !important;
}

.vaultsTable {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid rgba(108,108,123, 0.25);
  border-radius: 10px;
}

.vaultRow {
  display: flex;
  align-items: center;
  padding: 18px 24px;
  border-bottom: 1px solid rgba(108,108,123, 0.2);
  flex: 1;
}

.tablehead th {
  padding: 20px 30px !important;
  border-bottom: 1px solid rgba(108,108,123, 0.2);
}

.vaultTitleCell {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 6px;
}

.vaultVersionCell {
  flex: 1;
  padding: 12px 6px;
  display: flex;
  justify-content: flex-start;
}

.vaultBalanceCell {
  flex: 1;
  padding: 12px 6px;
  display: flex;
  justify-content: flex-end;
}

.vaultAvailableBalanceCell {
  flex: 1;
  padding: 12px 6px;
  display: flex;
  justify-content: flex-end;
}

.overviewContainer {
  padding: 35px 40px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgba(108,108,123, 0.25);
  border-radius: 10px;
}

.overviewContainer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 30px 70px 30px 70px;
  z-index: 9;
  top: 60px;
  border-bottom: 1px solid rgba(108,108,123, 0.2);
  border-radius: 0px !important;
}

.separator {
  border-right: 1px solid rgba(108,108,123, 0.15);
  height: 100px;
  margin-right: 48px;
  margin-left: 48px;
  display: none;
}

.overviewCard,
.overviewCardLast {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.overviewCard h2,
.overviewCardLast h2 {
  color: rgba(108,108,123, 0.9);
  background: rgba(108,108,123, 0.1);
  margin-bottom: 6px;
  padding: 4px 12px;
  text-transform: uppercase;
  font-size: 12px !important;
  border-radius: 25px;
  text-align: center;
}

.headAmount {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 700 !important;
}

.tooltipContainer {
  min-width: 200px;
}

.tooltipValue {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.val {
  flex: 1;
}

.valBold {
  flex: 1;
  font-weight: bold !important;
}

@media screen and (max-width: 1600px) {
  .investContainer {
    padding: 0px 24px;
  }
  .overviewContainer {
    padding: 24px 24px;
  }
  .separator {
    margin-left: 24px;
    margin-right: 24px;
  }
  .portfolioOutline {
    margin-right: 12px;
  }
  .vaultTypeButtons {
    width: 480px;
    padding-bottom: 12px;
    padding-top: 12px;
  }
  .overviewTopPerformersContainer {
    margin: 30px 0 30px 0;
  }
}

@media screen and (max-width: 1200px) {
  .investContainer {
    padding: 24px;
  }


  .portfolioBalanceCombined {
    max-height: 150px;
    padding: 0px;
    margin: 0;
  }
  .overviewTopPerformersContainer {
    margin: 10px 0 30px 0;
  }

  .overviewContainer2 {
    width: 100%;
    padding: 45px 12px;
    padding-left: 70px;
    z-index: 9;
    top: 0px;
    border-top: 1px solid rgba(108,108,123, 0.2);
    border-bottom: 1px solid rgba(108,108,123, 0.2);
    border-radius: 0px !important;
  }

  .vaultFilters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    background: #111729;
    position: sticky;
    top: 0px;
  }

  .searchContainer {
    width: 50% !important;
  }

  .searchContainer {
    margin-left: 0 !important;
  }

  .vaultFiltersInside {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
  }

  .vaultTypeButtons {
    width: 100%;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-bottom: 10px;
  }

  .vaultTypeButton {
    border: 0px !important;
    padding: 5px 12px !important;
    border-radius: 10px !important;
    margin-right: 18px !important;
    line-height: 1.167 !important;
    text-transform: none !important;
  }
}

@media screen and (max-width: 1000px) {

  .overviewContainer {
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .separator {
    border-bottom: 1px solid rgba(108,108,123, 0.25);
    width: calc(100%);
    margin: 12px 0px 12px 0px;
    height: 0px;
  }
  .overviewCard,
  .overviewCardLast {
    padding-bottom: 12px;
  }
  .spllitContainer {
    display: none;
  }
  .investContainer {
    padding: 20px;
  }
  .portfolioBalanceCombined {
    padding: 0px;
  }
  .portfolioBalanceContainer {
    margin-bottom: 12px;
  }
  .spllitContainer {
    display: none;
  }
  .vaultTypeButtons {
    max-width: 100%;
    padding-bottom: 12px;
    padding-top: 12px;
  }
  .vaultTypeButton {
    margin: 0px 3px !important;
    padding: 5px 6px !important;
  }
  .searchContainer {
    min-width: auto !important;
    margin-left: 0px !important;
    margin-right: 20px !important;
  }

  .overviewTopPerformersContainer {
    display: none;
  }

  .layoutToggleButtons {
    margin-top: 0px;
  }
  .vaultVersionCell {
    display: none;
  }
  .vaultAvailableBalanceCell {
    display: none;
  }
}
@media screen and (max-width: 960px) {

@media screen and (max-width: 960px) {

  .overviewContainer2 {
    padding: 30px 10px;
    padding-left: 70px;
  }

  .overviewText {
    margin-left: 20px;
  }

  .overviewCard,
  .overviewCardLast {
    margin: 0;
    margin-right: 48px;
    padding: 0 0 25px 0;
    border-bottom: 1px solid rgba(108,108,123,0.2);
  }

  .overviewCardLast {
    border-bottom: 1px solid rgba(108,108,123,0);
    padding: 0;
  }
}
.topVaultPerformersLink {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
}
