.simulationContainer {
  margin-bottom: 20px;
  margin-top: -20px;
  background: rgba(108,108,123, 0.1) !important;
  border: 1px solid rgba(108,108,123, 0.1) !important;
  box-shadow: none !important;
}

.simulationCard {
}
.simulationCardButtons {
}

.simulationSubTitles {
  margin-top: 20px;
}
.simulationForm {
  margin-top: 10px;
}

.smallText {
  font-size: 0.7rem !important;
  font-weight: bold !important;
  padding-top: 6px;
}

.title {
  width: calc(100% + 32px);
  padding: 12px;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  position: relative;
  top: -16px;
  left: -16px;
  color: #FFF !important;
}
