.cdpContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 48px;
}

.tableHeader {
  margin-top: 48px !important;
  margin-bottom: 12px !important;
  margin-left: 24px !important;
}

.cdpFilters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 48px 0px 24px 0px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 10px;
  width: 100%;
}

.overviewContainer {
  padding: 32px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 10px;
}

.separator {
  border-right: 1px solid rgba(128, 128, 128, 0.25);
  height: 100px;
  margin-right: 48px;
  margin-left: 48px;
}

.overviewCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.statusLiquid {
  color: #dc3545;
}

.statusWarning {
  color: #ff9029;
}

.statusSafe {
  color: green;
}

.fillerContent {
  margin-right: 24px !important;
  color: #2f80ed;
}

@media screen and (max-width: 1600px) {
  .cdpContainer {
    padding: 0px 24px;
  }
  .overviewContainer {
    padding: 24px 24px;
  }
  .separator {
    margin-left: 24px;
    margin-right: 24px;
  }
  .portfolioOutline {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .overviewContainer {
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .separator {
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    width: calc(100%);
    margin: 12px 0px 12px 0px;
    height: 0px;
  }
  .overviewCard {
    padding-bottom: 12px;
  }
  .fillerContent {
    width: 150px;
  }
  .fillerText {
    flex: 1;
  }
}
