.cdpContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 48px;
  margin-top: 0px;
  padding-bottom: 48px;
  position: relative;
}

.tableHeader {
  margin-top: 48px !important;
  margin-bottom: 30px !important;
  margin-left: 0px !important;
}

.fixtop {
  margin-top: 260px;
}

.cdpFilters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 98px 0px 0px 0px;
  position: sticky;
  top: 80px;
  border-radius: 12px !important;
  box-shadow: none !important;
  z-index: 8;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid rgba(108, 108, 123, 0.2);
  border-radius: 10px;
  width: 100%;
}

.overviewContainer {
  padding: 32px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgba(108, 108, 123, 0.2);
  border-radius: 10px;
}


.overviewContainer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  width: calc(100% + 10px);
  left: -10px;
  padding: 50px 70px;
  z-index: 9;
  top: 60px;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  color: #FFF !important;
  border-radius: 0px !important;
}

.separator {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 100px;
  margin-right: 48px;
  margin-left: 48px;
}

.overviewCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.overviewCard h1 {
  color: #FFF !important;
  font-size: 140% !important;
  line-height: 1.4em;
}

.fillerText {
  font-size: 13px !important;
  color: rgba(255,255,255, 0.6);
  line-height: 1.4em !important;
}

.fillerText a {
  color: #FFF;
  font-size: 13px !important;
}

.statusLiquid {
  color: #dc3545;
}

.statusWarning {
  color: #ff9029;
}

.statusSafe {
  color: green;
}

.fillerContent {
  margin-right: 38px !important;
  color: #374DFA;
}

@media screen and (max-width: 1600px) {
  .cdpContainer {
    padding: 0px 24px;
  }
  .overviewContainer {
    padding: 24px 24px;
  }
  .separator {
    margin-left: 24px;
    margin-right: 24px;
  }
  .portfolioOutline {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1200px) {

  .overviewContainer2 {
    top: 0;
  }

  .cdpFilters {
    margin: 120px 0px 0px 0px;
    top: 0px;
  }

  .fixtop {
    margin-top: 200px;
  }

}

@media screen and (max-width: 1000px) {
  .overviewContainer {
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .separator {
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    width: calc(100%);
    margin: 12px 0px 12px 0px;
    height: 0px;
  }
  .overviewCard {
    padding-bottom: 12px;
  }
  .fillerContent {
    width: 150px;
  }
  .fillerText {
    flex: 1;
  }

  .fixtop {
    margin-top: 357px;
  }
}
