.navigationContainer {
  position: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  padding: 24px 0px 24px 0px;
  border-radius: 0px !important;
  border-right: 1px solid rgba(128,128,128, 0.2);
}

a.links { cursor: pointer !important; }

.navigationHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigationContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.navigationContentMobile {
  display: none;
}

.navigationOptionActive {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  margin: 12px 0px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  background: radial-gradient(circle, rgba(63,94,251,0.7) 0%, rgba(47,128,237,0.7) 48%) rgba(63,94,251,0.7) 100%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

.socialgrid {
  text-align: center;
  padding: 0 45px;
}

.socialButton {
  padding: 0px;
  width: 20px !important;
  height: 20px !important;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-sizing: unset;
}

.telegram {
  background-image: url('/socials/telegram.svg');
}
.medium {
  background-image: url('/socials/medium.svg');
}
.twitter {
  background-image: url('/socials/twitter.svg');
}
.github {
  background-image: url('/socials/github.svg');
}
.discord {
  background-image: url('/socials/discord.svg');
}

.navigationContentNavs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.headerThings {
  display: none;
}

.switchIcon {
  font-size: 1.5rem !important;
  margin-top: 0.2rem;
}

.backButton {
  flex: 1;
}

.accountButton {
  display: flex;
  align-items: center;
  margin-left: 24px !important;
}

.accountIcon {
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-right: 12px;
}

.metamask {
  background-image: url('/connectors/icn-metamask.svg');
}
.ledger {
  background-image: url('/connectors/icn-ledger.svg');
}
.coinbase {
  background-image: url('/connectors/coinbaseWalletIcon.svg');
}
.torus {
  background-image: url('/connectors/torus.jpg');
}
.trust {
  background-image: url('/connectors/trustWallet.png');
}


.menuIcon {
  display: none;
}

.backButtonContainer {
  display: none;
}

.smallVersion {
  font-size: 10px !important;
  letter-spacing: 1px;
  padding-top: 12px;
}


.navigationOptionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0px;
  margin-left: 13px;
  width: calc(100% - 13px);
  cursor: pointer;
}

.navigationOptionSelected {
  background: #0248ff;
  width: 3px;
  border-radius: 0px 10px 10px 0px;
  height: 40px;
  position: absolute;
  left: 0px;
  z-index: 1;
  display: none;
}

.navigationOptionSelectedWhite {
  background: #0248ff;
  width: 3px;
  border-radius: 0px 10px 10px 0px;
  height: 40px;
  position: absolute;
  left: 0px;
  z-index: 1;
  display: none;
}

.navigationOptionNotSelected {
  border-left: 6px solid rgba(0, 0, 0, 0);
  border-radius: 0px 8px 8px 0px;
  height: 24px;
  margin-right: 0px;
  display: none;
}

.navigationOptionIconContainer {
  width: 30px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navigationOptionContainer:hover .navigationOptionIcon {
  background: #000;
  padding: 12px;
  border-radius: 24px;
}

.navigationOptionIcon {
  padding: 10px;
  height: 30px;
  width: 30px;
  font-size: 24px !important;
}

.navigationOptionIconSelected {
  height: 18px;
  width: 18px;
}

.iconLearnNormal {
  background: none;
  margin: 0 24px 0 20px;
  font-size: 20px !important;
}

.iconLearnActive {
  background: none;
  margin: 0 !important;
  font-size: 18px !important;
}

.icon {
  width: 20px !important;
  height: 20px !important;
  margin: 5px 24px 5px 20px;
}

.iconSelected {
  width: 30px !important;
  height: 30px !important;
  margin: 0px 19px 0px 15px;
}

.navLinkItem {
  font-size: 15px !important;
}

.yearnLogo {
  width: 95px !important;
  height: 42.3px !important;
}

.iconHack {
  width: 20px !important;
  height: 20px !important;
  margin: 5px;
}

.iconhackNew {
  margin-left: 8px;
  margin-top: 7px;
}

.iconhackNewNormal {
  margin-left: 22px;
  margin-top: 8px;
  margin-right: 15px;
}

@media screen and (max-width: 1200px) {
  .navigationContainer {
    position: relative;
    min-height: 80px;
    display: flex;
    width: 100%;
    padding: 24px 12px;
    border-radius: 0px !important;
  }
  .socials {
    display: none;
  }
  .navigationContent {
    display: none;
  }
  .navigationContentMobile {
    position: fixed;
    top: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    height: 100vh;
    z-index: 999;
    align-items: center;
    border-radius: 0 !important;
  }
  .menuIcon {
    position: absolute;
    top: 35px;
    right: 30px;
    display: flex;
  }
  .navigationHeading {
    width: 100%;
  }
  .headerWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .backButtonContainer {
    position: absolute;
    top: 24px;
    left: 12px;
    display: flex;
  }
}
