.extraContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.vaultGrowthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  height: 100%;
  /* border-bottom: 1px solid rgba(128, 128, 128, 0.25); */
  padding: 24px;
  border-bottom: 1px solid rgba(108,108,123, 0.2) !important;
  margin-bottom: 30px;
  border-radius: 0px;
}

.mysubtitle {
  margin-bottom: 6px !important;
}

.mysubtitle {
  margin-bottom: 6px !important;
}

.portfolioGrowthContainer {
  display: flex;
  align-items: center;
  padding: 6px 0px;
  flex: 1;
}

.growthOutline {
  border: 1px solid rgba(104,108,122,0.3);
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.growthIcon {
  font-size: 1.6rem !important;
}

.balanceUSD {
  color: #4aa166;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 700 !important;
  letter-spacing: -1px;
}


@media screen and (max-width: 576px) {
  .extraContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 12px;
    min-width: 0px;
  }
  .vaultGrowthContainer {
    width: calc(100% - 20px);
    min-width: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .portfolioGrowthContainer {
    margin-bottom: 12px;
  }
}
