.vaultContainer {
  height: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
}

.vaultStatsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.vaultBalanceContainer {
  display: flex;
  align-items: center;
  margin-right: 48px;
}

.vaultOutline {
  border-radius: 30px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.vaultLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vaultInfo {
  display: flex;
  max-width: 1400px;
  flex-wrap: wrap;
}

.vaultTitle {
  min-width: 100px;
}

.vaultGrowthContainer {
  display: flex;
  align-items: center;
}

.growthOutline {
  border: 1px solid #212529;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.growthIcon {
  font-size: 1.6rem !important;
}

.vaultTransactionsContainer {
  width: 100%;
  margin-top: 48px;
}

.cardSeparation {
  display: flex;
  flex-direction: column;
}

.vaultVersionContainer {
  width: fit-content;
  border-radius: 12px;
  padding: 5px 16px;
  background: rgba(25, 101, 233, 1);
}

.vaultV1VersionContainer {
  width: fit-content;
  border-radius: 12px;
  padding: 5px 16px;
  background: rgba(229, 107, 115, 1);
}

.vaultV2VersionContainer {
  width: fit-content;
  border-radius: 12px;
  padding: 5px 16px;
  background: rgba(25, 101, 233, 1);
}

.vaultExpVersionContainer {
  width: fit-content;
  border-radius: 12px;
  padding: 5px 16px;
  background: rgba(255, 179, 71, 1);
}

.vaultEarnVersionContainer {
  width: fit-content;
  border-radius: 12px;
  padding: 5px 16px;
  background: rgba(220, 107, 229, 1);
}

.vaultLockupVersionContainer {
  width: fit-content;
  border-radius: 12px;
  padding: 5px 16px;
  background: rgba(244, 220, 10, 0.8);
}

.vaultVersionText {
  font-size: 0.5rem;
  color: #fff;
}

.vaultIcon {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 576px) {
  .vaultContainer {
    padding: 12px;
  }
  .vaultStatsContainer {
    margin-bottom: 12px;
  }
  .vaultBalanceContainer {
    margin-right: 12px;
  }
  .vaultOutline {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    margin-right: 12px;
  }
  .vaultInfo {
    max-width: 100vw;
    flex-direction: column-reverse;
  }
  .vaultTransactionsContainer {
    margin-top: 12px;
  }
}
