.vaultActionContainer {
  width: 420px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-right: 48px;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.32);
}

.depositContainer {
  padding-top: 24px;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.scaleContainer {
  margin: 24px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.scale {
  width: 60px;
  height: 60px;
  border-radius: 30px !important;
}

.balances {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 6px;
}

.value {
  cursor: pointer;
}

.marginLeft {
  margin-left: 6px !important;
}

.marginRight {
  margin-right: 6px !important;
}


@media screen and (max-width: 576px) {
  .vaultActionContainer {
    width: calc(100vw - 24px);
    padding: 12px;
    margin-right: 0px;
    margin-bottom: 24px;
  }

  .depositContainer {
    padding-top: 12px;
  }

  .actionButton {
    margin-top: 24px;
  }

  .scaleContainer {
    margin: 24px 0px;
  }
}
