.vaultActionContainer {
  width: 520px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-right: 48px;
  border: 1px solid rgba(108,108,123, 0.2);
}

.depositContainer {
  padding-top: 48px;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.actionButton button {
  background: #1b2cbf;
  color: #FFF;
}

.scaleContainer {
  margin: 12px 0px 36px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.scale {
  width: 60px;
  height: 30px;
  border-radius: 10px !important;
}

.disabledWarning {
  padding-top: 24px;
  display: flex;
  align-items: center;
}

.disabledIcon {
  margin-right: 12px;
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputTitle {
  padding-bottom: 6px;
  margin-left: 12px;
}

.balances {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 6px;
}

.value {
  cursor: pointer;
}

.marginLeft {
  margin-left: 6px !important;
}

.marginRight {
  margin-right: 6px !important;
}

.flexInline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gasExtraPadding {
  padding-top: 24px;
}

.tabz {
  background: red;
  border-bottom: 1px solid rgba(108,108,123,0.2);
  padding: 5px;
  border-radius: 12px !important;
}

.zetab {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  border-radius: 6px !important;
}

@media screen and (max-width: 1400px) {
  .vaultActionContainer {
    margin-right: 24px;
  }
}

@media screen and (max-width: 1000px) {
  .vaultActionContainer {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 576px) {
  .vaultActionContainer {
    width: calc(100vw - 24px);
    padding: 12px;
    margin-right: 0px;
    margin-bottom: 24px;
  }

  .depositContainer {
    padding-top: 12px;
  }

  .actionButton {
    margin-top: 24px;
  }

  .scaleContainer {
    margin: 24px 0px;
  }
}

.zapperSlippageContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.zapperSlippageForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.toggleButtonText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3px 0px;
}

.title {
  padding-left: 12px;
  padding-bottom: 12px;
}

.slippageText {
  width: 40px;
}
