.strategyContainer {
  padding: 20px;
  padding-top: 0px;
  border: 1px solid rgba(108,108,123,.25);
}

.tokenContainer {
  padding-top: 20px !important;
}

.strategyTitleSection {
  display: flex;
  align-items: flex-start;
  margin: 20px 0 24px 0;
}

.protocolContainer {
  padding-top: 0px !important;
  margin-bottom: 20px;
}

.protocolTitleSection {
  display: flex;
  align-items: flex-start;
  margin: 0px 0 20px 0;
}

.strategyTitle {
  cursor: pointer;
  margin-bottom: 10px !important;
}

.strategyAddress {
  color: rgba(128,128,128,1);
  font-weight: 400;
}

.strategyDescription {
  font-size: 13px;
  color: rgba(128,128,128,1) !important;
}

.vaultAmount {
  font-size: 28px !important;
  margin-top: 10px !important;
}

.tokenContainer {
  padding: 20px;
  padding-top: 0px;
  border: 1px solid rgba(108,108,123,.25);
  flex: 1;
}

.strategyOutline {
  border: 1px solid rgba(108,108,123,0.4);
  border-radius: 30px;
  height: 60px;
  min-width: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}


.strategyIcon {
  color: rgba(108,108,123,0.4);
  font-size: 1.5rem !important;
}

.protocolLogo {
  margin-right: 24px;
  border-radius: 30px;
}

.curveTokenContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tokenTitleSection {
  display: flex;
  align-items: center;
}

.tokenLogo {
  margin-right: 20px;
  border-radius: 30px;
}

.tokenChild {
  margin-top: 12px;
}

.iconContainer {
  position: relative;
}

.protocolLabel {
  background: #bd1550;
  border-radius: 10px;
  padding: 3px;
  width: 60px;
  text-align: center;
  position: absolute;
  top: 50px;
}

.protocolLabel > .text {
  font-size: 10px;
  color: #fff !important;
}

.strategyLabel {
  background: #0048FF;
  border-radius: 10px;
  padding: 3px;
  width: 60px;
  text-align: center;
  position: absolute;
  top: 50px;
}

.strategyLabel > .text {
  font-size: 10px;
  color: #fff !important;
}

.lenderField {
  position: relative;
}

.lenderLabel {
  background: #77cca4;
  border-radius: 10px;
  padding: 3px;
  width: 60px;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 15px;
}

.lenderLabel > .text {
  font-size: 10px;
  color: #000 !important;
}

.arrowDownIcon {
  min-width: 100%;
  text-align: center;
}

.plusIcon {

}
