.strategyContainer {
  padding: 16px 24px;
  border: 1px solid rgba(108,108,123,.25);
}

.strategyTitleSection {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.strategyTitle {
  cursor: pointer;
}

.strategyDescription {
  font-size: 12px;
}

.tokenContainer {
  padding: 16px 24px;
  border: 1px solid rgba(108,108,123,.25);
  flex: 1;
}

.strategyOutline {
  border: 1px solid rgba(108,108,123,0.4);
  border-radius: 30px;
  height: 60px;
  min-width: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.strategyIcon {
  color: rgba(108,108,123,0.4);
  font-size: 1.5rem !important;
}

.protocolLogo {
  margin-right: 24px;
  border-radius: 30px;
}

.curveTokenContainer {
  display: flex;
  align-items: center;
}

.tokenTitleSection {
  display: flex;
  align-items: center;
}

.tokenLogo {
  margin-right: 12px;
  border-radius: 30px;
}

.tokenChild {
  margin-top: 12px;
}

.iconContainer {
  position: relative;
}

.protocolLabel {
  background: #bd1550;
  border-radius: 10px;
  padding: 3px;
  width: 60px;
  text-align: center;
  position: absolute;
  top: 50px;
}

.protocolLabel > .text {
  font-size: 10px;
  color: #fff !important;
}

.strategyLabel {
  background: #0048FF;
  border-radius: 10px;
  padding: 3px;
  width: 60px;
  text-align: center;
  position: absolute;
  top: 50px;
}

.strategyLabel > .text {
  font-size: 10px;
  color: #fff !important;
}

.lenderField {
  position: relative;
}

.lenderLabel {
  background: #77cca4;
  border-radius: 10px;
  padding: 3px;
  width: 60px;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 15px;
}

.lenderLabel > .text {
  font-size: 10px;
  color: #000 !important;
}

.arrowDownIcon {
  min-width: 100%;
  text-align: center;
}

.plusIcon {

}
