.noticeContainer {
  display: flex;
  align-items: flex-start;
}

.textContainer {
  flex: 1;
  padding: 12px;
}

.warning {
  color: #FF9029 !important;
  margin-bottom: 12px !important;
}

.warningIcon {
  color: #FF9029;
  margin-right: 12px;
  margin-top: 12px;
  font-size: 32px !important;
}

.paragraph {
  margin-bottom: 12px !important;
}

.vaultInfoField {
  padding: 6px 0px;
}

.claimActionContainer {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.actionButton {
  margin-top: 24px;
}


@media screen and (max-width: 576px) {
  .claimActionContainer {
    width: calc(100vw - 24px);
    padding: 12px;
  }
  .actionButton {
    margin-top: 12px;
  }
}
