.vaultContainer {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  min-height: 202px;
  border: 1px solid rgba(255,255,255, 0.05);
  -webkit-box-shadow: 3px 3px 12px 0 rgba(0,0,0,0.05) !important;
  box-shadow: 3px 3px 12px 0 rgba(0,0,0,0.05) !important;
}

.ActiveBalance {
  width: 10px;
  height: 10px;
  background: #0ba360;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.balanceUSD {
  color: #4aa166;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 700 !important;
  letter-spacing: -1px;
  font-size: 130% !important;
}

.balanceToken {
  font-size: 100% !important;
}

.vaultContainer:hover {
  border: 1px solid #374dfa;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.vaultContainerActive {
  width: 100%;
  position: relative;
  border-radius: 10px 6px 10px 10px !important;
  cursor: pointer;
  background: rgb(63,94,251, 0);
  border: 1px solid rgba(255,255,255, 0.05);
  height: 205px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  overflow: hidden;
  position: relative;
}

.vaultContainerActive .vaultInfo {
  padding-top: 0;
}

.vaultContainerActive:hover {
  border: 1px solid #0ba360;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.vaultContainerActive .subinfofield {
  font-weight: 400 !important;
  font-size: 14px !important;
  margin-top: 2px !important;
}

.vaultTitle {
  display: flex;
  align-items: center;
  padding: 24px;
}

.vaultLogo {
  width: 50;
  height: 50;
  border-radius: 25px;
  margin-right: 12px;
}

.vaultName {
  flex: 1;
}

.vaultInfo {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-top: 20px;
  justify-content: space-between;
}

.vaultInfoField {
  padding-right: 10px;
}

.vaultInfoFieldSlim {
  width: 35%;
}

.vaultVersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: rgba(25, 101, 233, 1);
}

.vaultV1VersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: #BD1550 !important;
  color: #FFF !important;
}

.vaultV2VersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: #0048FF;
  color: #FFF !important;
}

.vaultExpVersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: #703D6F !important;
  color: #FFF !important;
}

.vaultEarnVersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: #77CCA4 !important;
  color: #000 !important;
}

.vaultVersionText {
  font-size: 0.9rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 700 !important;
}

.vaultLockupVersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: #FFD000;
  color: rgba(0, 0, 0, 1) !important;
}

.fontWeightBold {
  font-weight: bold !important;
}

.subinfofield {
  font-weight: 400 !important;
  color: rgba(108,108,123, 1);
  font-size: 14px !important;
  margin-top: 2px !important;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 600px) {
  .vaultContainer {
    min-height: 0;
  }

  .vaultContainerActive {
    min-height: 0;
  }
}
.migrateContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end
}

.migrateText {
  background: #4aa166;
  color: #fff;
  border-radius: 30px;
  padding: 15px 30px;
  width: fit-content;
}
