.vaultContainer {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  min-height: 202px;
  border: 2px solid rgba(255,255,255, 0.05);
  -webkit-box-shadow: 3px 3px 12px 0 rgba(0,0,0,0.05) !important;
box-shadow: 3px 3px 12px 0 rgba(0,0,0,0.05) !important;
}

.vaultContainer:hover {
  background-color: rgba(255,255,255, 1);
  border: 2px solid #1b2cbf;
  color: #000;
  -webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-ms-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out;
}

.vaultContainerActive {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(27,44,191,1) 0%, rgba(27,44,191,1) 48%) rgba(63,94,251,0.7) 100%;
  height: 205px;
  color: #FFF !important;
}

.vaultContainerActive .vaultInfo {
  padding-top: 0;
}

.vaultContainerActive:hover {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(63,94,251,1) 48%) rgba(63,94,251,1) 100%;
}

.vaultContainerActive .subinfofield {
  font-weight: 400 !important;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px !important;
  margin-top: 2px !important;
}

.vaultTitle {
  display: flex;
  align-items: center;
  padding: 24px;
}

.vaultLogo {
  width: 50;
  height: 50;
  border-radius: 25px;
  margin-right: 12px;
}

.vaultName {
  flex: 1;
}

.vaultInfo {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-top: 20px;
  justify-content: space-between;
}

.vaultInfoField {
  padding-right: 10px;
}

.vaultInfoFieldSlim {
  width: 35%;
}

.vaultVersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: rgba(25, 101, 233, 1);
}

.vaultV1VersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: rgba(229, 107, 115, 1);
  color: #FFF !important;
}

.vaultV2VersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: rgba(55, 77, 250, 1);
  color: #FFF !important;
}

.vaultExpVersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: rgba(255, 179, 71, 1);
  color: #FFF !important;
}

.vaultEarnVersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: rgba(220, 107, 229, 1);
  color: #FFF !important;
}

.vaultVersionText {
  font-size: 0.9rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 700 !important;
}

.vaultLockupVersionContainer {
  border-radius: 24px;
  padding: 5px 12px;
  background: rgba(244,220,10, 1);
  color: rgba(0, 0, 0, 1) !important;
}

.fontWeightBold {
  font-weight: bold !important;
}

.subinfofield {
  font-weight: 400 !important;
  color: rgba(108,108,123, 1);
  font-size: 14px !important;
  margin-top: 2px !important;
}


@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 600px) {
  .vaultContainer {
    min-height: 0;
  }

  .vaultContainerActive {
    min-height: 0;
  }
}
