.body {
  background: red;
}
.lendingContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0px 48px 48px 48px;
  position: relative;
  top: 0 !important;
}

.lendingFilters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 48px 0px 0px 0px;
  position: sticky;
  top: 80px;
  border-radius: 12px !important;
  box-shadow: none !important;
  z-index: 8;
}

.searchContainer {
  border-radius: 12px !important;
}

.MuiInputBase-input {
  border: 2px solid red !important;
}

.lendingTable {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid rgba(108,108,123, 0.25);
  border-radius: 10px;
  width: 100%;
}

.lendingRow {
  display: flex;
  align-items: center;
  padding: 24px 24px;
  border-bottom: 1px solid rgba(108,108,123, 0.25);
  flex: 1;
}

.tablehead th {
  padding: 20px 30px !important;
  border-bottom: 1px solid rgba(108,108,123, 0.2);
}

.lendTitleCell {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 6px;
}

.lendValueCell {
  flex: 1;
  padding: 12px 6px;
  display: flex;
  justify-content: flex-end;
}

.lendActionsCell {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding: 12px 6px;
}

.lendBalanceCell {
  flex: 1;
  padding: 12px 6px;
  display: flex;
  justify-content: flex-end;
}

.tableHeader {
  margin-top: 40px !important;
  margin-bottom: 30px !important;
  margin-left: 0px !important;
}

.lendingOverviewContainer {
  padding: 32px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgba(108,108,123, 0.25);
  border-radius: 10px;
}

.overviewContainer2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: calc(100% + 10px);
  left: -10px;
  padding: 25px 70px 33px 10px;
  padding-left: 70px;
  z-index: 9;
  top: 60px;
  /* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */
  border-bottom: 1px solid rgba(108,108,123, 0.2);
  border-radius: 0px !important;
  margin-bottom: 60px;
  /* color: #FFF !important; */
}

.separator {
  border-right: 1px solid rgba(108,108,123, 0.25);
  height: 100px;
  margin-right: 48px;
  margin-left: 48px;
}

.overviewCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.overviewCard h2 {
  /* color: rgba(0,0,0, 0.5) !important; */
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px !important;
  text-align: left;
}

.headAmount {
  padding-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 700 !important;
  /* color: #FFF !important; */
}

.tooltipContainer {
  min-width: 200px;
}

.tooltipValue {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.val {
  flex: 1;
}

.valBold {
  flex: 1;
  font-weight: bold !important;
}

.portfolioOutline {
  margin-right: 24px;
}

@media screen and (max-width: 1600px) {
  .lendingContainer {
    padding: 0px 24px;
  }
  .lendingOverviewContainer {
    padding: 24px 24px;
  }
  .separator {
    margin-left: 24px;
    margin-right: 24px;
  }
  .portfolioOutline {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .overviewContainer2 {
    top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .lendingOverviewContainer {
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .separator {
    border-bottom: 1px solid rgba(108,108,123, 0.25);
    width: calc(100%);
    margin: 12px 0px 12px 0px;
    height: 0px;
  }
  .overviewCard {
    padding-bottom: 12px;
  }
  .tableHeader {
    margin-top: 12px !important;
    margin-left: 24px !important;
  }
  .lendingTable {
    border: 1px solid rgba(108,108,123, 0.25);
  }
  .lendingRow {
    padding: 12px 6px;
  }
  .lendTitleCell {
    flex: 1;
    padding: 12px 0px;
  }
  .lendBalanceCell {
    display: none;
  }
  .lendValueCell {
    padding: 12px 0px;
  }
  .lendActionsCell {
    display: none;
  }
}
