.lendingContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 48px;
}

.lendingFilters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 48px 0px 0px 0px;
}

.lendingTable {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 10px;
  width: 100%;
}

.lendingRow {
  display: flex;
  align-items: center;
  padding: 24px 24px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
  flex: 1;
}

.lendTitleCell {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 6px;
}

.lendValueCell {
  flex: 1;
  padding: 12px 6px;
  display: flex;
  justify-content: flex-end;
}

.lendActionsCell {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding: 12px 6px;
}

.lendBalanceCell {
  flex: 1;
  padding: 12px 6px;
  display: flex;
  justify-content: flex-end;
}

.tableHeader {
  margin-top: 48px !important;
  margin-bottom: 12px !important;
  margin-left: 24px !important;
}

.lendingOverviewContainer {
  padding: 32px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 10px;
}

.separator {
  border-right: 1px solid rgba(128, 128, 128, 0.25);
  height: 100px;
  margin-right: 48px;
  margin-left: 48px;
}

.overviewCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.headAmount {
  padding-bottom: 12px;
}

.tooltipContainer {
  min-width: 200px;
}

.tooltipValue {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.val {
  flex: 1;
}

.valBold {
  flex: 1;
  font-weight: bold !important;
}

.portfolioOutline {
  margin-right: 24px;
}

@media screen and (max-width: 1600px) {
  .lendingContainer {
    padding: 0px 24px;
  }
  .lendingOverviewContainer {
    padding: 24px 24px;
  }
  .separator {
    margin-left: 24px;
    margin-right: 24px;
  }
  .portfolioOutline {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .lendingOverviewContainer {
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .separator {
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    width: calc(100%);
    margin: 12px 0px 12px 0px;
    height: 0px;
  }
  .overviewCard {
    padding-bottom: 12px;
  }
  .tableHeader {
    margin-top: 12px !important;
    margin-left: 24px !important;
  }
  .lendingTable {
    border: 1px solid rgba(128, 128, 128, 0.25);
  }
  .lendingRow {
    padding: 12px 6px;
  }
  .lendTitleCell {
    flex: 1;
    padding: 12px 0px;
  }
  .lendBalanceCell {
    display: none;
  }
  .lendValueCell {
    padding: 12px 0px;
  }
  .lendActionsCell {
    display: none;
  }
}
